{% extends "base.html" %}

{% block content %}
    <form action="/newpost" method='post'>
        <label>
            New Title:
            <input type="text" name='title' value="{{title}}" />
        </label>
        <p class="error">{{title_error}}</p>
        <label>
            New Body:
            <textarea name='body' value="{{body}}" /></textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value='Add Blog Post' />
    </form>

{% endblock %}