{% extends "base.html" %}

{% block content %}
<form action="/signup" method='post'>
    <label>
        New Username:
        <input type="username" name='username' value="{{username}}" />
    </label><br/>
    <label>
        Password:
        <input type="password" name='password' value="{{password}}" /></input>
    </label><br/>
    <label>
        Verify Password:
        <input type="password" name='verify_pwd' value="{{verify_pwd}}" /></input>
    </label><br/>
    <input type="submit" value='Signup' />
</form>
{% endblock %}